ul {
    list-style-type: none;
    margin: 15;
    padding: ;
    overflow: hidden;
    background-color: #111;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 25px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:  #ADD8E6;
}

.active {
    background-color: #D4AF37;
}
body {
    background-color: maroon;
    color: white;
}
