ul {
    list-style-type: none;
    margin: 15;
    padding: ;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: left;
    padding: 20px 70px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:  #ADD8E6;
}

.active {
    background-color: #D4AF37;
}

body {
    background-color: black;
    color: white;
} 

#drawings{
    margin-top: 10px;
    display: block;
}

#setofbuttons{
    margin-left: 140px;
}

#button{
    font-family: Arial;
    color:lightgoldenrodyellow;
    background-color: black;
}

.picker{
    position: absolute;
    font-family: Arial;
    color:lightgoldenrodyellow;
    margin-left: 800px;
}

input{
    display:block;
    width:100%;
}